.total {
  text-align: center;
}

.menuMainContainer {
  background-color: #f6e9d6;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  font-size: 50px;
  font-weight: bold;
  color: black;
  gap: 15px;
  transition: all 0.5s;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  
}
.logotext{
  display: block;
  font-size: 50px;
  text-align: center;
}

.menuItems {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menuItemsButton {
  display: none; /* Ocultar el botón de menú por defecto */
}
.menuDropdown{
  display: none;

}

.route {
  margin-bottom: 20px;
}

.route span {
  font-size: 24px;
  color: black;
  text-decoration: none;
  padding: 10px;
  display: flex;
}

.route:hover {
  background-color: #86d74c;
  color: black;
  transition: all 0.5s;
  text-decoration: none;
}

.active {
  background-color: #86d74c;
  color: black;
}
.logo{
  width: 150px;
  height: auto;

}

@media screen and (max-width: 768px) {
  .title {
    
    font-size: 50px;
    padding-bottom: 20px;
  }

  .menuItems {
    display: none; 
    
  }

  .menuItemsButton {
    display: flex; /* Mostrar el botón de menú */
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #86d74c;
    color: white;
    cursor: pointer;
  }
  .menuDropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
